APP_NAME="Ark Registry"

# for Docker
POSTGRES_DB=ark_registry
POSTGRES_USER=ark_user
POSTGRES_PASSWORD=ark_password

# db connection
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ark_registry
DB_USERNAME=ark_user
DB_PASSWORD=ark_password

# JWT Secret for authentication
JWT_SECRET=node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCESS_EXPIRES=1h
JWT_REFRESH_EXPIRES_DAYS=0

# Cloudflare R2 (Object Storage)
# R2_ACCESS_KEY_ID=
# R2_SECRET_ACCESS_KEY=
# R2_ENDPOINT=
# R2_BUCKET_NAME=
# R2_PUBLIC_URL=

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
