APP_NAME="Ark Registry"

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ark_registry
DB_USERNAME=ark_user
DB_PASSWORD=ark_password

# for
POSTGRES_DB=ark_registry
POSTGRES_USER=ark_user
POSTGRES_PASSWORD=ark_password

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
